h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  font-weight: 400;
  height: 17px;
  top: 341px;
  left: 402px;
}

.LogoCloudSection {
  display: grid;
  width: 1440px;
  height: 430px;
  top: 240px;
  background-color: #f2dfdf;
  text-align: center;
}

.LogoRow {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 83px;
  justify-items: center;
  align-items: center;
}

#American {
  width: 150px;
  height: 50px;
  top: 454px;
  left: 99px;
}
#LDS {
  width: 76px;
  height: 150px;
  top: 404px;
  left: 335px;
}

#MSF {
  width: 150px;
  height: 44px;
  top: 454px;
  left: 491px;
}

#CRS {
  width: 150px;
  height: 98px;
  top: 430px;
  left: 724px;
}

#WHO {
  width: 150px;
  height: 46px;
  top: 456px;
  left: 957px;
}

#UNICEF {
  width: 150px;
  height: 36px;
  top: 461px;
  left: 1190px;
}
